<ion-content class="has-header padding">

<div class="button-bar">
      <span ng-click="vm.setView('my')" class="button" ng-class="(vm.view === 'my') ? 'active' : ''">My Issues</span>
      <span ng-click="vm.setView('others')" class="button" ng-class="(vm.view === 'others') ? 'active' : ''">Others</span>
</div>
    
<table ng-show="vm.view === 'my'" ng-table="vm.who" class="table" show-filter="false">
<tr ng-click="vm.viewDetail(ticket.id,'my')" ng-repeat="ticket in $data">
    <td title="'Status'" sortable="'status'">
        <span style='font-size:12px' class="badge" ng-class="vm.badgeColor(ticket.status)">{{ticket.status}}</span></td>
    <td title="'Category'" sortable="'category'">
        {{ticket.issueDescription}}</td>
    <td title="'Notified'" sortable="'notified'">
        {{ticket.notified | date : 'MMM-dd'}}</td>
    <td><i class="icon ion-arrow-right-c icon-accessory" style="color: 
rgb(204, 204, 204)"></i></td>
</tr>
</table>

<table ng-show="vm.view === 'others'" ng-table="vm.requested" class="table" show-filter="false">
<tr ng-click="vm.viewDetail(ticket.id,'others')" ng-repeat="ticket in $data">
    <td title="'Status'" sortable="'status'">
        <span style='font-size:12px' class="badge" ng-class="vm.badgeColor(ticket.status)">{{ticket.status}}</span></td>
    <td title="'Category'" sortable="'category'">
        {{ticket.issueDescription}}</td>
    <td title="'Notified'" sortable="'notified'">
        {{ticket.notified | date : 'MMM-dd'}}</td>
    <td><i class="icon ion-arrow-right-c icon-accessory" style="color: 
rgb(204, 204, 204)"></i></td>
</tr>
</table>

</ion-content>