<ion-view view-title="Helpdesk">
    
    <helpdesk-menu></helpdesk-menu>

    <ion-content class="has-subheader has-footer padding">
    <table ng-table="vm.notAssigned" class="table table-striped" show-filter="false">
    <tr ng-click="vm.gotoDetail(ticket)" ng-repeat="ticket in $data">
        <td title="'IT'" sortable="'it'">
            {{ticket.it}}</td>
        <td title="'Category'" sortable="'category'">
            {{ticket.issueDescription}}</td>
        <td title="'Notified'" sortable="'notified'">
            {{ticket.notified | date : 'MMM-dd'}}</td>
        <td><i class="icon ion-arrow-right-c icon-accessory" style="color: 
    rgb(204, 204, 204)"></i></td>
    </tr>
    </table>
    </ion-content>
</ion-view>