<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive tabs-stable">

  <ion-tab title="New Ticket" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/new-ticket">
  </ion-tab>

  <ion-tab title="My Tickets" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit" href="#/tab/my-tickets">
  </ion-tab>

   <ion-tab title="Helpdesk" icon-off="ion-hammer" icon-on="ion-hammer" href="#/tab/helpdesk" >
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
  </ion-tab>


</ion-tabs>
