<div class="row">
    <div class="col" style="font-weight:bold">IT comments</div>
</div>
<div class="row">
    <div class="col" style="white-space: normal">
        <ul class="list">
            <li class="item" style="padding:0;" ng-repeat="comment in vmd.ticket.comments">
                <div class="row" style="font-size:12px; white-space:normal">
                {{comment.comment}}
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col" style="font-size:12px; font-weight:bold; text-align: right">{{comment.date | date : 'yyyy-mm-dd HH:mm'}}</div>
                </div>
            </li>
            
            <li class="item" style="padding:0;" ng-show="vmd.canAdd()">
                <div class="row" style="font-size:12px; white-space:normal; padding; 0;">
                <div class="col" style="padding: 0;">
                    <textarea rows="5" style="width: 100%; border-radius:4px; font-size:12px; background-color: #EEE; padding: 6px;" placeholder="Comment" ng-model="vmd.form.comment"></textarea>
                </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col" style="text-align:right;"><button ng-click="vmd.addComment()" class="button button-small">Add comment</button></div>
                </div>
            </li>
        </ul>
    </div>
</div>
