<div class="card">
    
    <!-- Category -->
    <div style="font-size:12px;" class="item item-divider">
        {{vmd.ticket.issueDescription}} 
        <badge ticket="vmd.ticket"></badge>
    </div>

    <!-- Notified Date -->
    <div style="font-size:12px; padding:0" class="item">
        <div class="row">
            <div class="col" style="font-weight:bold">Notified</div>
            <div class="col">{{vmd.ticket.notified | date : 'yyyy-MM-dd'}}</div>
        </div>
    </div>

    <!-- Closed Date -->
    <div ng-show="vmd.ticket.closed !== null" style="font-size:12px; padding:0" class="item">
        <div class="row">
            <div class="col" style="font-weight:bold">Closed</div>
            <div class="col">{{vmd.ticket.closed | date : 'yyyy-MM-dd'}}</div>
        </div>
    </div>
    
    <!-- Users -->
    <div style="font-size:12px; padding:0" class="item">
        <!-- User Requested -->
        <div class="row">
            <div class="col"  style="font-weight:bold">Requested by </div>
            <div class="col"><i class="icon ion-ios-email" style="font-size:20px; "></i> <a style="position:relative; top:-4px" href="mailto:{{vmd.ticket.requested}}@company.com">{{vmd.ticket.requested}}</a></div>
        </div>
        <!-- User Who Needs help -->
        <div class="row">
            <div class="col" style="font-weight:bold">For</div>
            <div class="col"><i class="icon ion-ios-email" style="font-size:20px; "></i> <a style="position:relative; top:-4px" href="mailto:{{vmd.ticket.who}}@company.com">{{vmd.ticket.who}}</a></div>
        </div>
    </div>

    <!-- Evaluation -->
    <div ng-show="vmd.showEvaluation() === true" style="font-size:12px; padding:0" class="item">
        <div class="row">
            <div class="col" style="font-weight:bold">Evaluation</div>
            <div ng-show="vmd.ticket.evaluation === null" class="col"><button class="button button-small" ng-click="vmd.evaluateTicket()">EVALUATE</button></div>
            <div ng-show="vmd.ticket.evaluation !== null" class="col"><stars stars="{{vmd.ticket.evaluation}}"></stars></div>
        </div>
    </div>

    <!-- IT member -->
    <div style="font-size:12px; padding:0" class="item">
        <div class="row">
            <div class="col" style="font-weight:bold">Assigned to</div>
            <div ng-show="vmd.ticket.it !==null" class="col"><i class="icon ion-ios-email" style="font-size:20px; "></i> <a style="position:relative; top:-4px" href="mailto:{{vmd.ticket.it}}@company.com">{{vmd.ticket.it}}</a></div>
            <div ng-show="vmd.ticket.it === null && vmd.assign !== 'true'" class="col">Not Assigned</div>
            <div ng-show="vmd.ticket.it === null && vmd.assign === 'true'" class="col"><button class="button button-small" ng-click="vmd.assignTicket()">ASSIGN</button></div>
        </div>
    </div>
    
    <!-- User Description of the Issue -->
    <div style="font-size:12px; padding:0" class="item">
        <div class="row">
            <div class="col"  style="font-weight:bold">Description</div>
         </div>
         <div class="row">
            <div class="col" ng-show="vmd.ticket.description !== null" style="display:block; white-space: normal">{{vmd.ticket.description}}</div>
            <div class="col" ng-show="vmd.ticket.description === null" style="display:block; white-space: normal">Non given</div>
         </div>
    </div>

    <!-- Screenshot -->
    <div ng-show="vmd.ticket.image !== null" style="font-size:12px; padding:0" class="item">
        <div class="row" style="font-weight: bold;"><div class="col">Picture</div></div>
        <div class="row">
            <div class="col" style="text-align:center"><img src="{{vmd.ticket.image}}"></div>
        </div>
    </div>
    
    <!-- IT Comments -->
    <div ng-show="vmd.ticket.comments !== null" style="font-size:12px; padding:0" class="item">
        <div class="row">
            <div class="col" style="font-weight:bold">IT comments</div>
        </div>
        <div class="row">
            <div class="col" style="white-space: normal">
                <ul class="list">
                    <li class="item" style="padding:0;">
                        <div class="row" style="font-size:12px; white-space:normal">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, repellendus.
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" style="font-size:12px; font-weight:bold; text-align: right">2015-12-03 23:34</div>
                        </div>
                    </li>
                    <li class="item" style="padding:0;">
                        <div class="row" style="font-size:12px; white-space:normal">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, repellendus.
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col" style="font-size:12px; font-weight:bold; text-align: right">2015-12-03 23:34</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- close ticket -->
    <div ng-show="vmd.isClosable() && vmd.ticket.status === 'open'" style="font-size:12px; padding:0" class="item">
        <ion-toggle toggle-class="toggle-assertive" ng-model="vmd.form.close">Close Ticket</ion-toggle>
    </div>

</div>

<button ng-show="vmd.isIT() && vmd.ticket.status === 'open'" ng-click="vmd.save()" class="button button-block">Save</button>