<ion-content class="has-header padding">
<div class="list">

        <div class="item item-toggle" ng-show="vm.seeExpress">
            Express Ticket
            <label class="toggle toggle-balanced">
                <input type="checkbox" ng-model="vm.ticket.express">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>

        <div class="item item-icon-left item-icon-right" ng-click="vm.show('who')">
            <i class="icon ion-person-stalker"></i>
            <span>Who needs help</span>
            <span style="display:inline-block;float:right;text-align:right; font-size:12px">{{vm.ticket.who}}</span>
            <i class="icon ion-arrow-right-c icon-accessory"></i>
        </div>

        <div class="item item-icon-left item-icon-right" ng-click="vm.show('issue')">
            <i class="icon ion-medkit"></i>
            <span>Issue</span>
            <span style="display:inline-block;float:right; text-align:right; font-size:12px">{{vm.getIssueDescription(vm.ticket.issue)}}</span>
            <i class="icon ion-arrow-right-c icon-accessory"></i>
        </div>

        <label class="item item-input item-stacked-label">
            <i class="icon ion-edit"></i> 
            <span class="input-label">Description (optional)</span>
            <input type="text" placeholder="Description" ng-model="vm.ticket.description">
        </label>
        </div>

        <button class="ion-button button button-block"><i class="icon ion-camera"></i></button>
        </ion-content>