<div class="bar bar-subheader bar-stable">
    <button class="button" ng-click="vm.show('who')">Back</button>
    <h2 class="title">Who needs help</h2>
    <div class="button-bar" style="margin-top:4px;">
        <span class="button" ng-class="(vm.ticket.office === 'bcn') ? 'active' : ''" ng-click="vm.setWhoOffice('bcn')">BCN</span>
        <span class="button" ng-class="(vm.ticket.office === 'mad') ? 'active' : ''" ng-click="vm.setWhoOffice('mad')">MAD</span>
        <span class="button" ng-class="(vm.ticket.office === 'ldn') ? 'active' : ''" ng-click="vm.setWhoOffice('ldn')">LDN</span>
    </div>
</div>

<ion-content class="has-subheader has-footer padding" style="margin-top:30px">

<div ng-show="vm.ticket.office === 'bcn'" class="list" ng-click="vm.show('form')">
        <ion-radio style="font-size:12px;" ng-repeat="user in vm.users.bcn" ng-model="vm.ticket.who" ng-value="vm.transformName(user.name)">{{user.name}}</ion-radio>
</div>
<div ng-show="vm.ticket.office === 'mad'" class="list" ng-click="vm.show('form')">
        <ion-radio style="font-size:12px;" ng-repeat="user in vm.users.mad" ng-model="vm.ticket.who" ng-value="vm.transformName(user.name)">{{user.name}}</ion-radio>
</div>
<div ng-show="vm.ticket.office === 'ldn'" class="list" ng-click="vm.show('form')">
        <ion-radio style="font-size:12px;" ng-repeat="user in vm.users.ldn" ng-model="vm.ticket.who" ng-value="vm.transformName(user.name)">{{user.name}}</ion-radio>
</div>

</ion-content>