 <div class="bar bar-subheader bar-stable">
    <button class="button" ng-click="vm.show('form')">Back</button>
    <h2 class="title">Who needs help</h2>
</div>

<ion-content class="has-subheader padding">


<div class="list" >
    <ion-radio ng-model="vm.ticket.who" ng-value="vm.me" ng-click="vm.show('form')">ME</ion-radio>    
    <div ng-click="vm.show('other')" class="item item-icon-right"><span>
    <div class="row" style='padding:0'>
        <div class="col" style='padding:0'>Other</div>
        <div class="col" style='text-align:right; font-size:12px;'>{{(vm.ticket.who === vm.me) ? '' : vm.ticket.who}}</div>
    </div>
    </span><i class="icon ion-arrow-right-c icon-accessory"></i></div>
</div>

</ion-content>