<ion-view view-title="My Tickets">

<div class="bar bar-subheader bar-stable">
    <button class="button" ng-click="vm.goBack()">Back</button>
  	<h2 class="title">Evaluate Ticket {{vm.ticket._id}}</h2>
  	<button class="button" ng-click="vm.submit()">Submit</button>
</div>

<ion-content class="has-subheader has-footer padding">

	<ul class="list">

		<li class="item" ng-show="vm.ticket.evaluation === 5" ng-class="vm.isActive()">
			<i ng-click="vm.setMark(0)" style="font-size:50px" class="icon">&nbsp;</i>
			<i ng-click="vm.setMark(1)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(2)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(3)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(4)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(5)" style="font-size:50px" class="icon ion-ios-star"></i>
		</li>

		<li class="item" ng-show="vm.ticket.evaluation === 4" ng-class="vm.isActive()">
			<i ng-click="vm.setMark(0)" style="font-size:50px" class="icon">&nbsp;</i>
			<i ng-click="vm.setMark(1)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(2)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(3)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(4)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(5)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
		</li>

		<li class="item" ng-show="vm.ticket.evaluation === 3" ng-class="vm.isActive()">
			<i ng-click="vm.setMark(0)" style="font-size:50px" class="icon">&nbsp;</i>
			<i ng-click="vm.setMark(1)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(2)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(3)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(4)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(5)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
		</li>

		<li class="item" ng-show="vm.ticket.evaluation === 2" ng-class="vm.isActive()">
			<i ng-click="vm.setMark(0)" style="font-size:50px" class="icon">&nbsp;</i>
			<i ng-click="vm.setMark(1)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(2)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(3)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(4)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(5)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
		</li>

		<li class="item" ng-show="vm.ticket.evaluation === 1" ng-class="vm.isActive()">
			<i ng-click="vm.setMark(0)" style="font-size:50px" class="icon">&nbsp;</i>
			<i ng-click="vm.setMark(1)" style="font-size:50px" class="icon ion-ios-star"></i>
			<i ng-click="vm.setMark(2)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(3)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(4)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(5)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
		</li>

		<li class="item"  ng-show="vm.ticket.evaluation === 0 || vm.ticket.evaluation === null" ng-class="vm.isActive()">
			<i ng-click="vm.setMark(0)" style="font-size:50px" class="icon">&nbsp;</i>
			<i ng-click="vm.setMark(1)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(2)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(3)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(4)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
			<i ng-click="vm.setMark(5)" style="font-size:50px" class="icon ion-ios-star-outline"></i>
		</li>

	</ul>
</ion-content>
</ion-view>